/.vscode
/assets
/defaultconfigs
/Progregss-natives
/Code
/CustomSkinLoader
/Create Delight-natives
/fancymenu_data
/local
/ldlib
/libraries
/logs
/localconfigs
/fancymenu_setups
/backups
/natives-windows-x86_64
/patchouli_books
/resourcepacks
/XaeroWaypoints
/quests_structures
/saves
/screenshots
/versions
/PCL
/XaeroWaypoints*
/XaeroWorldMap
/modernfix
/shaderpacks
/crash-reports
/schematics
/kubejs/probe
/kubejs/README.txt
.qmenu_opened.marker
caxton_impl.dll
options.txt
usernamecache.json
usercache.json
rhino.local.properties
patchouli_data.json
${quickPlayPath}
servers.dat
servers.dat_old
observable_announce
*.log
PCL.ini
launcher_profiles.json
/*.jar
/*.json
*.zip
log4j2.xml
